:root {
    --light-grey: #d6d6d4;
    --dark-grey: #4b4b4a;
    --mörkblå: #130080;
    --mörklila: #342680;
    --ljuslila: #674DFF;
    --mellanblå: #1F00CC;
}

body {
    background: #2600ff;
    background: -moz-linear-gradient(-45deg, rgba(38,0,255,1) 0%, rgba(38,0,255,1) 1%, rgba(3,175,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(38,0,255,1)), color-stop(1%, rgba(38,0,255,1)), color-stop(100%, rgba(3,175,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(38,0,255,1) 0%, rgba(38,0,255,1) 1%, rgba(3,175,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(38,0,255,1) 0%, rgba(38,0,255,1) 1%, rgba(3,175,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(38,0,255,1) 0%, rgba(38,0,255,1) 1%, rgba(3,175,255,1) 100%);
    background: linear-gradient(135deg, rgba(38,0,255,1) 0%, rgba(38,0,255,1) 1%, rgba(3,175,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2600ff', endColorstr='#03afff', GradientType=1 );
    background-repeat: no-repeat;
    background-size: cover;   
    color: var(--light-grey);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin: 0;
    height: 100%;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

h1 {
    color: #001056;
}
h2 {
    font-size: 1.7rem;
    color: var(--light-grey);
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:inherit;
    text-decoration: none;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.navicon {
    z-index: 9999;
    color: var(--light-grey);
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: var(--mörklila);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 0.3rem;
    margin: .6rem;
    transform: rotate(90deg);
    transition: all .5s ease;
}

.navbar__ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    opacity: 1;
    background-color: var(--dark-grey);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    font-family: sans-serif;
    transform: translateX(-100vw);
    transition: all .5s ease-in;
}
nav.synlig .navbar__ul {
    transform: translateX(0vw);
    z-index: 99;
}
nav.synlig .navicon {
    content: 'X';
    transform: rotate(0deg);
    transition: all .3s ease;
}

.navbar__listitem {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    line-height: 3.5rem;
    text-align: center;
}
.navbar__listitem__my-projects-rubrik>p, .navbar__listitem__rubrik {
    transition: all .3s ease-in;
}
.navbar__listitem__my-projects-rubrik>p:hover, .navbar__listitem__rubrik:hover {
    color: rgb(250, 153, 7);
    text-decoration: none;
} 
.navbar__listitem__my-projects-rubrik>p {
    z-index: 100000;
}
.dropdown {
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in;
}


.dropdown > a {
    width: 100%;
    transition: all .3s ease;
    text-decoration: none;
}

.dropdown > a:hover {
    background-color: var(--ljuslila);
    width: 100%;
    border-radius: 0 0 5px 5px;
    text-decoration: none;
    color: var(--light-grey);
}

.navbar__listitem__listlink1,.navbar__listitem__listlink2,.navbar__listitem__listlink3 {
    font-size: 1.5rem;
}

.header__hero {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    max-width: 500px;
    min-height: 300px; 
    margin: 200px auto 0;
    align-items: center;
    padding: 0;
}
.header__hero__bild-container {
    background: var(--dark-grey) url(../img/profilbild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-position: 50% 50%;
    filter: grayscale(1);
}

.header__hero__rubrik {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Kaushan Script', cursive;
   font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto 200px;
}

.header__hero__button-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    justify-content: space-around;
    margin: 2rem auto 3rem;
}

.header__hero__button-section__project-button {
    border-radius: 25px;
    padding: .7rem 1.5rem;
    min-width: 200px;
    margin: 1rem auto;
    border: none;
    background-color: var(--mörklila);
    color: var(--light-grey);
    font-size: 0.9rem;
    transition: all .3s ease-in;
}

.header__hero__button-section__project-button:hover, .navicon:hover {
    background-color: var(--ljuslila);
    box-shadow: 0 0 5px var(--mellanblå);
    text-decoration: none;
}


.project-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    z-index: 1;
    margin: 50px auto;
}

.project-cards-container img {
    height: auto;
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .15s ease-in-out;
}

.project-cards-container figcaption {
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

.project-cards-container h3 {
    padding-left: 40px;
}

.project-cards-container>figure {
    height: fit-content;
    min-height: 415px;
    width: 300px;
    border-radius: 5px;
    background-color: white;
    color: var(--dark-grey);
    box-shadow: 1px 2px 5px var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: brightness(0.9);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.project-cards-container>figure ul {
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
    padding-left: 60px;
}

.project-cards-container>figure:hover {
    filter: brightness(1);
    box-shadow: 1px 4px 10px var(--dark-grey);
}

    .project-cards-container__card__image.large {
    width: 70vw;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    z-index: 99;
    position: fixed;
    top: 60px;
    border-radius: 0 0 5px 5px;
    background-color: var(--dark-grey);
} 
.project-cards-container__card.large {
    border-radius: 5px;
    height: 100px;
}

.project-cards-container.container-large>figure, .project-cards-container.container-large>figure:hover {
    box-shadow: 0 0 0 #ffffff;
}

.project-cards-container__card.large figcaption h3 {
    width: 300px;
    margin: 20px auto;
    color: var(--light-grey);
} 
/* 
.project-cards-container.container-large {
    width: 100vw;
    height: auto;
} */
.about-me {
    padding: 1rem;
    line-height: 1.5rem;
    text-align: center;
}



@media screen and (min-width: 600px) {

    h2 {
        font-size: 2.5rem;
    }

    .navbar {
        height: 50px;
        background-color: var(--mörkblå);
    }

    .navbar__ul {
        flex-direction: row;
        justify-content: space-around;
        height: 50px;
        max-width: 500px;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        transform: translateX(0);
    }

    .navbar__listitem, .navbar__listitem a, .navbar__listitem, .navbar__listitem h2 {
        font-size: 1rem;
        text-decoration: none;
    }

    .navbar__listitem__my-projects-rubrik>p {
        background-color: var(--mörkblå);
        height: 55px;
    }

    .navbar__listitem__my-projects-rubrik>p:hover, .navbar__listitem__rubrik:hover {
        font-size: 1.2rem;
    } 
    .navbar__listitem__my-projects-rubrik {
        flex-direction: column;
        height: 60px;
        cursor: pointer;
        transition: all 0s linear;
    }
    .navbar__listitem__my-projects-rubrik>p::after {
        content: ' ';
        margin-left: .3rem;
        height: 30px;
        width: 30px;
    }

    .dropdown {
        transform: translateY(-200px);
        opacity: 0;
        height: 0px;
        border-radius: 0 0 5px 5px;
        width: 158px;
    } 
    .visa-dropdown {
        transform: translateY(-0px);
        background-color: #3b3b3b67; 
        opacity: .9;
        height: 300%;
    }

    .navicon {
        height: 0;
        width: 0; 
        font-size: 0;
        padding: 0;
        transform: translateY(-300%);
    }
    .header__hero {
        margin: 250px auto 20px;
    } 

    .header__hero__bild-container {
        width: 150px;
        height: 150px;

    }

    main {
        width: 80%;
        max-width: 1000px;
    }

    .project-cards-container {
        margin: 100px auto;
    }

    .project-cards-container>figure {
        height: fit-content;
        min-height: 415px;
        width: 300px;
        border-radius: 5px;
        background-color: white;
        color: var(--dark-grey);
        box-shadow: 1px 2px 5px var(--dark-grey);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        filter: brightness(0.9);
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
    }



    figure.large-figure{
        max-width: 900px;
        margin: 0 auto;
        width: 70vw;
        position: fixed;
        top: 0;
    } 
    
    figure.large-figure {
        position: fixed;
        top: 60px;
        z-index: 9999;
        width: 70vw;
        margin: 0 auto;
    }

    figure.large-figure .project-cards-container__card__image {
         width: 70vw;
         height: auto;
         max-width: 900px;
        margin: 0 auto;
        width: 70vw;
        position: fixed;
        top: 0;
     }

   /*  .project-cards-container.container-large {
        width: 70vw;
        margin: 0 auto;
        height: auto;
    } */
}


@media screen and (min-width: 800px) {

    .project-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

       
    figure.large-figure {
        position: fixed;
        top: 60px;
        z-index: 9999;
        width: 70vw;
        margin: 0 auto;
    }

    figure.large-figure .project-cards-container__card__image {
         width: 70vw;
         height: auto;
         max-width: 900px;
        margin: 0 auto;
        width: 90vw;
        position: fixed;
        top: 0;
     }
}

@media screen and (min-width: 1050px) {

    figure.large-figure{
        max-width: 900px;
        margin: 0 auto;
        width: 70vw;
        position: fixed;
        top: 0;
    } 
    
    figure.large-figure {
        position: fixed;
        top: 60px;
        z-index: 9999;
        width: 70vw;
        margin: 0 auto;
    }

    figure.large-figure .project-cards-container__card__image {
         width: 70vw;
         height: auto;
         max-width: 900px;
        margin: 0 auto;
        width: 70vw;
        position: fixed;
        top: 0;
     }
}

@media screen and (min-width: 1300px) {
    .project-cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}