:root {
	--text-light: #f3f2f2;
	--light-background: #e4adad;
	--dark-background: #555858;

	--light: #f3f2f2;
	--dark: #323333;
	--accent-red: #c41b05;

	--timer-green: hsl(120, 100%, 25%);
	--timer-yellow: hsl(60, 100%, 50%);
	--timer-orange: hsl(39, 100%, 50%);
	--timer-red: hsl(0, 100%, 50%);
	--button-bg: #32333359;
}


html, body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: center;
  min-height: 100vh;
  position: relative;
  background-color: var(--dark);
  background-image: linear-gradient(to bottom, var(--dark), var(--dark-background));
}

.app-started {
	background-image: none;
	transition: background-color 1s linear;
	background-color: var(--timer-green);
}



.passed-time-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}



.timebar {
	height: 2em;
	border-radius: 5px;
	background-color: var(--button-bg);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 2s linear;
}


.time-passed-container {
	width: 90vw;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}

.tomato-btn-group button, .todo-btn-group button {
	font-size: 1em;
	margin: .5em;
}


.stage-2 *, .stage-2 .timer-buttons button, .close-timer > button {
	transition: color 250ms ease-in;
	color: var(--dark);
}

.stage-2 .timer-buttons button, .close-timer > button, .timebar-container {
	border: 2px outset var(--dark);
}

.stage-2 svg line {
	stroke: var(--dark)
}

.close-timer > button, .tomato-btn-group button, .todo-btn-group button {
	border-radius: 100%;
    padding: 10px 12px;
	color: var(--light);
	background-color: var(--button-bg);
}

.close-timer > button:not(.stage-2 .close-timer > button) {
	border: 2px outset var(--light);
}

.timebar-container {
	width: 80vw;
	border-radius: 10px;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-self: flex-start;
	padding: .25em .5em;
}

.timebar-container:not(.stage-2 .timebar-container) {
	border: 2px outset var(--light);
}

h1 {
	font-size: 2em;
	color: var(--light);
}

/* h1.countdown-header , h1.save-form-header , h1.time-tomato-header {
	font-size: 2.5em;	
} */

h1.save-form-header {
	margin-bottom: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

ul {
	list-style: none;
	padding-inline-start: 0;
	font-size: 1.5em;
}

svg {
	overflow: visible;
}

button:not(.close-timer > button, .tomato-btn-group > button, .todo-btn-group > button) {
	padding: .5em 0;
	width: 10em;
    background-color: var(--button-bg);
    border: 2px outset var(--light);
    color: var(--light);
    border-radius: 255px;
    margin: .5em;
    font-size: 1.5em;
}




.timer-buttons button:disabled {
	filter: brightness(.8) opacity(0.4);
	border: 2px solid var(--light);
}

a {
	text-decoration: none;
}

a:hover, .navbar-x:hover, button:not(:disabled):hover {
	cursor: pointer;
}

a > li:hover {
	border-bottom: 1px solid black;
}
section.links-top{
	display: flex;
	width: 50vw;
	justify-content: space-between;
}
section.links-top a {
	color: var(--light);
}

header {
	padding: 2em;
    display: flex;
    width: 80vw;
    justify-content: space-between;
	list-style: none;
	flex-grow: 1;
}

nav.navbar {
	transform: translateX(100%);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
	position: absolute;
    top: 0;
    left: 0;
	background: var(--dark);
	transition: all 250ms ease-in;
	z-index: 9;
}

nav.navbar-open {
	transform: translateX(0%); 
	background: var(--dark);
}

nav.navbar a {
	color: var(--light);
}

.navbar-x {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3em;
	width: 3em;
	top: 1em;
	right: 1em;
	color:  var(--light);
/* 	border: 2px inset var(--light); */
	border-radius: 100%;
	z-index: 99;
	transition: all 250ms ease-in;
}

.navbar-x-open {
	color:  var(--light);
/* 	border: 2px inset var(--light); */
}

.line-1, .line-2, .line-3 {
	transition: all 250ms ease-in;
	z-index: 999;
}

.navbar-x-open .line-1 {
	transform: translate(0.35em, -0.3em) rotate(45deg)
}

.navbar-x-open .line-2 {
	opacity: 0;
}

.navbar-x-open .line-3 {
	transform: translate(-0.3em, 0.5em) rotate(-45deg);
}


.navbar ul {
	height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*  */

.settings-option {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}


/* TOMATOES */

.check-mark {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	background-color: var(--dark);
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	transition: 250ms ease;
	position: relative;
}

.check-mark svg {
	position: absolute;
	left: 1px;
	top: -5px;
	color: var(--timer-green);
	transition: all 250ms ease-in;
}

.check-mark.checked {
	/* border-bottom: 3px solid red;
	border-right: 3px solid red;
	width: 40px;
	height: 40px; */
	transform: rotate(45deg);
	background-color: var(--light);
	border-radius: 0;
	border-top: 0;
	border-left: 0;
}

.tomato-article {
	display: flex;
	flex-direction: column;
/* 	border-bottom: 2px solid var(--dark-background); */
	border: 2px outset var(--dark-background);
	width: 80vw;
	align-items: center;
	margin: 2em auto;
	padding: 2em 0;
	color: var(--light);
	transition: border 300ms ease;
}

.tomato-article:nth-child(2) {
	padding-top: 2em;
	border-top: 2px solid var(--dark-background);
}

.tomato-article:last-child {
	margin-bottom: 5em;
	border-bottom: none;
}

.tomato-article * {
	display: flex;
}

.tomato-text-group {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.tomato-btn-group, .todo-btn-group {
	flex-direction: row;
}

.tomato-btn-group button:nth-child(1), .todo-btn-group button:nth-child(1) {
	color: var(--timer-green);
}

.tomato-btn-group button:nth-child(2), .todo-btn-group button:nth-child(2) {
	color: var(--timer-yellow);
}
.tomato-btn-group button:nth-child(3) {
	color: var(--timer-orange);
}
.tomato-btn-group button:nth-child(4), .todo-btn-group button:nth-child(3) {
	color: var(--timer-red);
}

.tomato-btn-group > button, .todo-btn-group > button {
	justify-content: center;
	filter: brightness(1.3);
}

/* STOPWATCH */
.stopwatch-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

/* TIMER */
.countdown-container, .stopwatch-container, .save-form {
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-self: center;
/* 	width: 100vw; */
	color: var(--light);
	transition: all 250ms ease;
    height: 80vh;
	bottom: 5vh;
}

.stopwatch-create-container {
	flex-grow: 2;
}

.countdown-container, .save-form {
    justify-content: space-evenly;
}

.countdown-container-started  {
	position: relative;
/* 	top: 5vh; */
    height: 70vh;
    justify-content: center;
	transition: all 250s ease;
}

.countdown-container-ended {
	top: 20vh;
	height: 50vh;
}

.countdown-inputs {
	position: relative;
    width: 100vw;
    /* height: 45vh; */
    left: 0;
    top: 0;
}



.countdown-inputs input, .save-form input {
	height: 2em;
    border-radius: 10px;
    margin: .5em;
    padding: 0;
    text-align: center;
    border: none;
	background-color: var(--dark-background);
	color: var(--light);
}

.countdown-inputs input, .save-form input:not(.tomato-name-input) {
    width: 2em;
	font-size: 2.5em;
}

.countdown-inputs input:focus, .save-form input:focus {
	outline: none;
	background-color: var(--light);
	color: var(--dark);
}

.countdown-inputs input::placeholder, .save-form input::placeholder {
	color: var(--light);
}

.countdown-inputs input:focus::placeholder, .save-form input:focus::placeholder {
	color: var(--dark);
}

.countdown-inputs input:focus label, .save-form input:focus::placeholder label {
	position: absolute;
}

.tomato-name-input {
	width: 80vw;
	font-size: 2em;
}

.stopwatch-second-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* .save-number-input {
	
} */

.save-form {
	display: flex;
	align-items: center;
	height: 80vh;
	justify-content: space-evenly;

	transition: all 250ms ease;
}


.timer-container {
	display: flex;
    justify-content: space-evenly;
	align-items: center;
	height: 30vh;
	width: 100vw;
	transition: all 250s ease;
	/* 
	position: fixed;
    top: 40%;
    left: 0;
    right: 0; */
}

.timer-container h2, .stopwatch-container h2 {
	width: 2em;
	text-align: center;
	font-size: 3em;
}

.timer-buttons {
	position: relative;
	align-self: center;
	margin-bottom: 2em;

	transition: all 250ms ease;
}

.close-timer {
	position: relative;
	align-self: flex-end;
    right: 10vw;
}





@media screen and (min-width: 700px) {
	nav.navbar > ul {
		flex-direction: row;
	}


button:hover {
	background-color: var(--light);
	color: var(--dark);
}
}