:root {
	--light: #f3f2f2;
	--dark: #323333;
	--dark-background: #555858;
	--button-bg: #32333359;

	--timer-green: rgb(0, 128, 0);
	--timer-yellow: hsl(60, 100%, 50%);
	--timer-orange: hsl(39, 100%, 50%);
	--timer-red: hsl(0, 100%, 50%);
}


html, body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: center;
  min-height: 100vh;
  position: relative;
  background-color: var(--dark);
  background-image: linear-gradient(to bottom, var(--dark), var(--dark-background));
}

.app-started {
	background-image: none;
	transition: background-color 1s linear;
	background-color: var(--timer-green);
}

.checkmark-svg {
	height: 3em;
	width: 3em;
}
.logo {
	height: 29vh;
	position: absolute;
	z-index: 99;
	width: 70vw;
	border-radius: 10px;
	color: var(--dark-background);
}

.todo-svg-container {
	height: 29vh;
	position: absolute;
	width: 70vw;
	border-radius: 10px;
}

.tomato-blast {
	fill: var(--dark-background); 
	stroke: var(--dark-background);
}

.tomato-kropp {
	stroke: var(--dark-background);
}

.passed-time-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}



.timebar {
	height: 2em;
	border-radius: 5px;
	background-color: var(--button-bg);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 2s linear;
}


.time-passed-container {
	width: 90vw;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}

.tomato-btn-group button, .todo-btn-group button, .edit-button-active, .close-timer a button, .close-timer button {
	font-size: 1em;
	margin: .5em;
}


.stage-2 *, .stage-2 .timer-buttons button, .close-timer a button, .close-timer button {
	transition: color 250ms ease-in;
	color: var(--dark);
}

.stage-2 .timer-buttons button, .timebar-container, .stage-2 .close-timer a button, .stage-2 .soundOnOff, .close-timer button  {
	border: 2px outset var(--dark);
}

.stage-2 svg line {
	stroke: var(--dark)
}

.tomato-btn-group button:not(.edit-button-active), .todo-btn-group button:not(.edit-button-active), .soundOnOff, .close-timer a button, .close-timer button  {
	border-radius: 100%;
    padding: 10px 12px;
	background-color: var(--button-bg);
}

.soundOnOff, .close-timer a button , .close-timer button{
	color: var(--light);
}

.close-timer a button:not(.stage-2 .close-timer a button ), .soundOnOff:not(.stage-2 .soundOnOff ), .close-timer button:not(.stage-2 .close-timer button) {
	border: 2px outset var(--light);
}

.timebar-container {
	width: 80vw;
	border-radius: 10px;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-self: flex-start;
	padding: .25em .5em;
}

.timebar-container:not(.stage-2 .timebar-container) {
	border: 2px outset var(--light);
}

h1 {
	font-size: 2em;
	color: var(--light);
}


h2 {
	font-size: 1.5em;
	color: var(--light);
}

h3 {
	font-size: 1.25em;
	margin-block-start: 2em;
	margin-block-end: 0;
	color: var(--light);
}

p {
	font-size: 1em;
	color: var(--light);
}

ul {
	list-style: none;
	padding-inline-start: 0;
	font-size: 1.5em;
}

svg {
	overflow: visible;
}

button:not(.close-timer button, .close-timer a button, .tomato-btn-group button, .todo-btn-group button, .soundOnOff, .edit-button-active,  .close-timer button) {
	padding: .5em 0;
	width: 10em;
    background-color: var(--button-bg);
    border: 2px outset var(--light);
    color: var(--light);
    border-radius: 255px;
    margin: .5em;
    font-size: 1.5em;
}

.alert-message {
	text-align: center;
    padding: .25em .5em;
    position: fixed;
    top: 70vh;
    left: 10vw;
    right: 10vw;
    border: 2px solid var(--light);
    z-index: 9999;
    border-radius: 5px;
	font-size: 1.3em;
	font-weight: 600;
}

.alert-message.green {
	background-color: var(--timer-green);
	opacity: .8;
}
.alert-message.red {
	background-color: var(--timer-red);
	opacity: .7;
}
.alert-message.blue {
	background-color: rgb(41, 41, 212);
	opacity: .7;
}

button:disabled {
	filter: brightness(.8) opacity(0.4);
	border: 2px solid var(--light);
}


a {
	text-decoration: none;
}

a:hover, .navbar-x:hover, button:not(:disabled):hover {
	cursor: pointer;
}

a > li:hover {
	border-bottom: 1px solid black;
}
section.links-top{
	display: flex;
	width: 50vw;
	justify-content: space-between;
}
section.links-top a {
	color: var(--light);
}

header {
	padding: 2em;
    display: flex;
    width: 80vw;
    justify-content: space-between;
	list-style: none;
}



nav.navbar {
	transform: translateX(100%);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
	position: fixed;
    top: 0;
    left: 0;
	bottom: 0;
	right: 0;
	background: var(--dark);
	transition: all 250ms ease-in;
	z-index: 99999;
}

nav.navbar-open {
	transform: translateX(0%); 
	background: var(--dark);
}

nav.navbar a {
	color: var(--light);
}

.navbar-x {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3em;
	width: 3em;
	top: 1em;
	right: 1em;
	color:  var(--light);
	border-radius: 100%;
	z-index: 999999;
	transition: all 250ms ease-in;
}

.navbar-x-open {
	color:  var(--light);
}

.line-1, .line-2, .line-3 {
	transition: all 250ms ease-in;
	z-index: 999;
}

.navbar-x-open .line-1 {
	transform: translate(0.35em, -0.3em) rotate(45deg)
}

.navbar-x-open .line-2 {
	opacity: 0;
}

.navbar-x-open .line-3 {
	transform: translate(-0.3em, 0.5em) rotate(-45deg);
}


.navbar ul {
	height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-container {
	margin-top: 2em;
}

.settings-list {
	margin-top: 3em;
	margin-bottom: 10em;
}

.settings-list li {
	border-top: 1px solid var(--light);
	padding-bottom: 2em;
}


.settings-option:not(.alarm-settings) {
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;
	
}

.settings-option input[type="radio"] {
	margin: 0 4em;

}

#alarm-select {
	display: flex;
	justify-content: center;
	font-size: 1em;
    padding: .2em 1em;
    border-radius: 5px;
    color: var(--light);
    background: var(--dark);
    border: 1px solid var(--light);
	height: 2.5em;
	text-align: center;
	margin: 0 auto;
}


/* TOMATOES */

.mytomatoes-container {
	margin-bottom: 10em;
	transition: all 250ms ease-in;
}

.all-checked {
	margin: 4em 0 2em;
	padding: 3em 0;
	color: var(--timer-green);
	border-top: 1px solid var(--timer-green);
	border-bottom: 1px solid var(--timer-green);
	width: 80vw;
}

.all-checked h1, .all-checked h2 {
	margin-block-end: 2em;
}

.check-mark {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	transition: 250ms ease;
	position: absolute;
	bottom: 55%;
}

.check-mark svg {
	position: absolute;
	height: 2em;
    left: -2.5em;
	transition: all 250ms ease-in;
	z-index: 999;
}

.check-mark svg:not(.stage-1 .check-mark svg) {
	color: var(--timer-green);
}

.stage-1 .check-mark svg {
	color: var(--timer-yellow);
}


.no-tomatoes, .no-todos {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.tomato-article {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid var(--dark-background);
	width: 80vw;
	align-items: center;
	justify-content: flex-start;
	margin: 2em 0;
	padding: 2em 0;
	color: var(--light);
	transition: border 300ms ease;
	border-radius: 5px;
	min-height: 20em;
	position: relative;
}

.tomato-article:nth-child(2) {
	padding-top: 2em;
	border-top: 2px solid var(--dark-background);
}

.tomato-article:last-child {
	margin-bottom: 5em;
	border-bottom: none;
}

.tomato-article * {
	display: flex;
}

.tomato-edit {
	z-index: 999;
}

.tomato-text-group {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	width: 70%;
	height: 13em;
}

.tomato-text-group h3, .tomato-text-group h4 {
	z-index: 9999;
	transition: 250ms ease-in;

}

.checked-background h3 {
	color: var(--timer-yellow);
	opacity: 0.7;
	transform: scale(1.2);
	transition: 250ms ease-in;
}
.checked-background h4 {
	opacity: 0;
	transition: 250ms ease-in;
}

.tomato-article input {
	background-color: transparent;
	color: var(--light);
	font-size: 1em;
	text-align: center;
	padding: .5em;
	border-radius: 5px;
	font-weight: 600;
	z-index: 99999;
	max-width: 55vw;
}

.tomato-edit {
	margin-bottom: 1em;
}

.tomato-time-format {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tomato-btn-group, .todo-btn-group {
	flex-direction: row;
	z-index: 9999;
}

.edit-btn {
	color: var(--timer-green);
}

.stopwatch-btn {
	color: var(--timer-yellow);
}
.task-btn {
	color: var(--timer-orange);
}
.trash-btn {
	color: var(--timer-red);
}

.tomato-btn-group button, .todo-btn-group button {
	justify-content: center;
	filter: brightness(1.3);
}

.edit-button-active {
	border-radius: 100%;
	background-color: var(--timer-green);
	color: var(--dark);
	
    padding: 10px 12px;
}

/* STOPWATCH */
.stopwatch-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

/* TIMER */
.countdown-container, .stopwatch-container, .save-form {
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-self: center;
/* 	width: 100vw; */
	color: var(--light);
	transition: all 250ms ease;
    height: 80vh;
	bottom: 5vh;
}

.countdown-container {
	bottom: 0vh;
}

.stopwatch-create-container {
	flex-grow: 2;
}

.stopwatch-create-container h1 {
	margin: 3em 0;
}

.countdown-container, .save-form {
    justify-content: space-evenly;
	justify-content: center; /* SNYGGAST NÄR TIME'S UP */
}

.countdown-container-started  {
	position: relative;
	top: 5vh; /* för countdownsidan */
    height: 70vh;
    justify-content: center;
	transition: all 250ms ease;
}

.countdown-container-started h3, .settings-list h3 {
	margin-block-start: 1.5em;
	margin-block-end: 1.5em;
}

.stopwatch-container h3 {
	margin-block-start: 2.5em;
	margin-block-end: 2.5em;
}

.countdown-container-ended {
	top: 20vh;
	height: 50vh;
}

.countdown-inputs {
	position: relative;
    width: 100vw;
    left: 0;
    top: 0;
}



.countdown-inputs input, .save-form input {
	height: 2em;
    border-radius: 10px;
    margin: .5em;
    padding: 0;
    text-align: center;
    border: none;
	background-color: var(--dark-background);
	color: var(--light);
	z-index: 999;
}

.countdown-inputs input, .save-form input:not(.tomato-name-input, .todo-name-input) {
    width: 2em;
	font-size: 2.5em;
}

.countdown-inputs input:focus, .save-form input:focus {
	outline: none;
	background-color: var(--dark);
	color: var(--light);
	
}

.countdown-inputs input::placeholder, .save-form input::placeholder {
	color: var(--light);
}

.countdown-inputs input:focus::placeholder, .save-form input:focus::placeholder {
	color: var(--dark);
}

.countdown-inputs input:focus label, .save-form input:focus::placeholder label {
	position: absolute;
}

.tomato-name-input, .todo-name-input {
	width: 80vw;
	font-size: 2em;
}

.stopwatch-second-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.save-form {
	display: flex;
	align-items: center;
	height: 80vh;
	justify-content: space-evenly;
	transition: all 250ms ease;
	z-index: 9999;
}
.save-todo-form {
	height: 40vh;
}


.timer-container {
	display: flex;
    justify-content: space-evenly;
	align-items: center;
	height: 30vh;
	width: 90vw;
	transition: all 250ms ease;
}

.timer-container h2, .stopwatch-container h2 {
	width: 1.5em;
	text-align: center;
	font-size: 3em;
}

.timer-buttons {
	position: relative;
	align-self: center;
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 250ms ease;
}

.countdown-settings {
	display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
}
article .fa-bell-slash, article .fa-bell {
	height: 1.5em;
	width: 1.5em;
}

button .fa-bell-slash, button .fa-bell {
	height: 2em;
	width: 2em;
}



@media screen and (min-width: 700px) {

	nav.navbar > ul {
		flex-direction: row;
	}

	a:hover {
		cursor: pointer;
	}
	button:hover {
		cursor: pointer;
		background-color: var(--light);
		color: var(--dark);
	}


}